* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    letter-spacing: -0.02em;
    font-weight: 900;
}

.section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.one_one {
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease 0s;
}

.one_two {
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #333;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.6s ease 0s;
}

.one_three_container {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 25%;
    left: 20%;
}

.one_three {
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #333;
    position: absolute;
    bottom: 25%;
    left: 20%;
    transform: translateY(-50%);
    transition: all 0.6s ease 0s;
}

.one_three_container:hover .one_three {
    left: 45%;
}

.two_one {
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.6s ease 0s;
}

.two_two {
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transition: all 0.6s ease 3s;
}

.two_three_con {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 25%;
    animation: two_three_con 25s ease 0s infinite;
}

@keyframes two_three_con {
    0% {
        left: 10%;
    }

    100% {
        left: 90%;
    }
}

.two_three {
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: two_three 5s ease 0s infinite;
}

@keyframes two_three {
    0% {
        transform-origin: 200px 50px;
        transform: rotateZ(0deg);
    }

    25% {
        transform-origin: 200px 50px;
        transform: rotateZ(90deg);
    }

    37.5% {
        transform-origin: 100px 0px;
        transform: rotateZ(90deg);
    }

    50% {
        transform-origin: 100px 0px;
        transform: rotateZ(180deg);
    }

    62.5% {
        transform-origin: 0px 50px;
        transform: rotateZ(180deg);
    }

    75% {
        transform-origin: 0px 50px;
        transform: rotateZ(270deg);
    }

    87.5% {
        transform-origin: 100px 100px;
        transform: rotateZ(270deg);
    }

    100% {
        transform-origin: 100px 100px;
        transform: rotateZ(360deg);
    }
}

.three {
    display: flex;
}

.three_box {
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border: 1px solid #333;
}

.three_one {
    transition: all 0.6s ease 0s;
}

.three_two {
    transition: all 0.6s ease 1s;
}

.three_three {
    transition: all 0.6s ease 2s;
}

.three_four {
    transition: all 0.6s ease 3s;
}

.three_five {
    transition: all 0.6s ease 4s;
}

.three_six {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0px;
}

.three_six_one {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    border: 1px solid #333;
    transform-origin: 0px 50px;
    animation: three_six_one 6s ease 0s infinite;
}

@keyframes three_six_one {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(400%);
    }

    100% {
        transform: scale(100%);
    }
}

.three_six_two {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    border: 1px solid #333;
    transform-origin: 0px 50px;
    animation: three_six_one 6s ease 1s infinite;
}

.three_six_three {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    border: 1px solid #333;
    transform-origin: 0px 50px;
    animation: three_six_one 6s ease 2s infinite;
}

.three_six_four {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    border: 1px solid #333;
    transform-origin: 0px 50px;
    animation: three_six_one 6s ease 3s infinite;
}

.three_seven {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid #333;
    border-radius: 30px;
    top: 300px;
    right: 20px;
}

.three_seven_move {
    position: absolute;
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    top: 50px;
    left: 50px;
    transition: all 0.6s ease 0s;
}


/*four part*/

.four_slide {
    width: 1200px;
    height: 300px;
    background-color: #a3cfa3;
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 100px;
}

.four_slide_div {
    width: 400px;
    height: 400px;
    border-radius: 50px;
    background-color: #526452;
    position: absolute;
    animation: four_slide_div 10s ease 0s infinite;
    top: -50px;
}

@keyframes four_slide_div {
    0% {
        left: -200px;
        transform: rotate(0deg);
    }

    100% {
        left: 1000px;
        transform: rotate(360deg);
    }
}

.four_two {
    width: 1200px;
    height: 200px;
    background-color: #a3cfa3;
    position: absolute;
    top: 500px;
    left: 0px;
}

.four_two>div {
    width: 1200px;
    height: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #a5ecf8;
    transition: all 0.6s ease 0s;
}

.four_two:hover>div {
    left: 1200px;
    width: calc(100vw - 1200px);
}

.four_three {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    background-color: #4ea04e;
}

.four_three:hover {
    animation: four_three 0.1s ease 0s infinite;
}

@keyframes four_three {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(4px);
    }
}

/*five part*/

.five {
    background-color: #d6d6d6;
}

.five_one {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    background-color: #4ea04e;
    transform: translateY(0px);
    transition: all 0.6s ease 0s;
}

.five_one:hover {
    transform: translateY(50px);
}

.five_one>div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #4ea04e;
}

.five_one>div>div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: 50px;
    background-color: #4ea04e;
}

.five_one>div>div>div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #4ea04e;
}

.five_one>div>div>div>div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: 50px;
    background-color: #4ea04e;
}

.five_one>div>div>div>div>div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #4ea04e;
}

.five_one>div>div>div>div>div>div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: 50px;
    background-color: #4ea04e;
}

.five_one>div>div>div>div>div>div>div {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #4ea04e;
}

.five_two {
    width: 800px;
    height: 50px;
    background-color: #4ea04e;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000;
    animation: web_three_menu_rotate 15s linear 0s infinite;
}

@keyframes web_three_menu_rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

.five_two>ul {
    display: flex;
}

.five_two>ul>li {
    overflow: hidden;
    width: 200px;
    height: 50px;
    transition: all 0.6s ease 0s;
}

.five_two>ul>li:hover {
    height: 140px;
}

.five_two>ul>li>a {
    display: block;
    width: 200px;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
}

.five_two>ul>li>ul>li>a {
    display: block;
    width: 200px;
    height: 30px;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
}

.five_two a:hover {
    background-color: #333;
    color: #fff;
}

/*six part*/

.six_one {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-color: rgb(216, 254, 255);
    position: absolute;
    top: 300px;
    left: 300px;
    animation: six_one 2s linear 0s infinite;
}

@keyframes six_one {
    0% {
        border: 5px solid rgb(114, 132, 132);
        transform: rotate(0deg);
    }

    50% {
        border: 30px solid rgb(114, 132, 132);
        transform: rotate(180deg);
    }

    100% {
        border: 5px solid rgb(100, 123, 123);
        transform: rotate(360deg);
    }
}



.six_one>p:nth-child(1) {
    position: absolute;
    top: 50px;
    right: 150px;
    animation: six_one_one 2s ease 0s infinite;
}

@keyframes six_one_one {
    0% {
        font-size: 16px;
    }

    50% {
        font-size: 44px;
    }

    100% {
        font-size: 16px;
    }
}

.six_one>p:nth-child(2) {
    position: absolute;
    top: 220px;
    right: 70px;
    animation: six_one_one 2s ease 0.2s infinite;
}

.six_one>p:nth-child(3) {
    position: absolute;
    bottom: 40px;
    right: 200px;
    animation: six_one_one 2s ease 0.4s infinite;
}

.six_one>p:nth-child(4) {
    position: absolute;
    bottom: 140px;
    left: 90px;
    animation: six_one_one 2s ease 0.6s infinite;
}

.six_one>p:nth-child(5) {
    position: absolute;
    top: 100px;
    left: 90px;
    animation: six_one_one 2s ease 0.8s infinite;
}

.six_two {
    width: 300px;
    height: 200px;
    background-color: rgb(145, 161, 188);
    position: absolute;
    top: 300px;
    right: 300px;
    border-radius: 30px;
}

ul,
li {
    list-style: none;
}

.six_two>ul {
    width: 300px;
    height: 200px;
    position: relative;
}

.six_two>ul>li {
    width: 300px;
    height: 50px;
    border: 5px solid rgb(114, 132, 132);
    border-radius: 30px;
    position: absolute;
    transition: all 0.6s ease 0s;
}



.six_two>ul>li>a {
    display: block;
    width: 300px;
    text-align: center;
    line-height: 50px;
}

.six_two>ul>li:nth-child(1) {
    top: 0px;
    left: 0px;
}

.six_two>ul>li:nth-child(2) {
    top: 50px;
    left: 0px;
}

.six_two>ul>li:nth-child(3) {
    top: 100px;
    left: 0px;
}

.six_two>ul>li:nth-child(4) {
    top: 150px;
    left: 0px;
}

.six_two>ul:hover>li:nth-child(1) {
    top: -300px;
    left: -500px;
}

.six_two>ul:hover>li:nth-child(2) {
    top: 500px;
    left: -700px;
}

.six_two>ul:hover>li:nth-child(3) {
    top: -250px;
    left: -400px;
}

.six_two>ul:hover>li:nth-child(4) {
    top: 450px;
    left: -600px;
}
